<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:yandex="http://news.yandex.ru" xmlns:media="http://search.yahoo.com/mrss/"
     xmlns:turbo="http://turbo.yandex.ru" version="2.0">
    <channel>
        <title>{{ SITENAME }}</title>
        <link>{{ ABSOLUTE_SITEURL }}</link>
        <description>{{ DESCRIPTION }}</description>
        <language>ru</language>
        <turbo:analytics type="Yandex" id="{{ YA_METRIKA }}"></turbo:analytics>
    {% block container %}
        {% for article in articles %}
            <item turbo="true">
                <link>
                {{ ABSOLUTE_SITEURL }}/{{ article.url }}</link>
                <turbo:source></turbo:source>
                <turbo:topic></turbo:topic>
                <pubDate>{{ article.date }}</pubDate>
                <author>{{ AUTHOR }}</author>
                <metrics>
                    <yandex schema_identifier="{{ YA_METRIKA }}">
                        <breadcrumblist>
                            <breadcrumb url="{{ ABSOLUTE_SITEURL }}" text="Домашняя"/>
                        </breadcrumblist>
                    </yandex>
                </metrics>
                <yandex:related></yandex:related>
                <turbo:content>
                    <![CDATA[
                    <header>
                        <h1>{{ article.title }}</h1>
                    </header>
                    {% if  article.image  %}
                    <figure>
                        <img src="{{ ABSOLUTE_SITEURL }}{{ article.image }}">
                    </figure>
                    {% endif %}
                        {{ article.summary }}
                    ]]>
                </turbo:content>
            </item>
        {% endfor %}
    {% endblock %}
    </channel>
</rss>

